<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
          <ion-icon size="large" name="exit-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title>
      Captura de Fotografía
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Captura de Fotografía</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-button (click)="takePhoto()" expand="block" fill="outline">Tomar fotografía</ion-button>
    <br>
    <ion-card-subtitle class="ion-text-center" *ngIf="image==''"> Sin foto tomada</ion-card-subtitle>
    <ion-img *ngIf="image!=''" src={{image}}></ion-img>
  </ion-card>

 
</ion-content>
